/* body {
  background-color: #B9D6F2;
  background-color: #d1e4f6;
} */


/* App.js */
.main-container {
  width: 80%;
  margin: 0 auto;
}

/* Header */
.main-title {
  color: red;
  text-align: center;
}

.header-main-container{
  display: flex;
  background-color: black;
}

.spellbook-image{
  width: 75px;
  height: 75px;
  margin-right: 1rem;
  border: solid, black;
  margin-left: .25rem;
  margin-top: .25rem;
  margin-bottom: .25rem;
}



/* AuthForm*/

.auth-form-main-container{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 40%;
  height: 50%;
  background-color:grey;
  margin: 100px auto
}
.auth-form-inner-container{
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  align-self: center;
  flex-direction: column;
}

.auth-form{
  padding-bottom: .5rem;
}

/* AllCharacters*/

.all_characters_outer_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.all_characters_total_number{
  align-self: flex-start;
  margin-left: 1rem;
}

.all_characters_inner_container {
  /* width: 33% */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: column; */
  /* width:33%; */
  /* flex-basis: 33%; */
  align-items: center;
 }

.image_container {
  height: 300px;
  width: 100%;
  position: relative;
}

.image_container img {
  display: block;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.character_container{
  background-color: grey;
  border: 1px solid black;
  margin: .5rem;
  padding: .5rem;
  border-radius: 25px;
  width: 27%;
  flex-basis: 27%;

}

.character_property_header {
  font-weight: bold;
}

.character-spellbook-button{
  /* align-self: center;
  position: relative;

  grr button will not align to center */
}

/* Character Spellbook*/

.character-spellbook-main-container{
  background-color: white;
}

/* AllSpells*/

.all-spells-header{
 margin-left: 43%;
}

.all_spells_single_spell_main_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: column; */
  /* width:33%; */
  flex-basis: 33%;
  align-items: center;
  background-image: url("/images/lightColoredParchementPaperBackground.png");
}

.all_spells_single_spell_container {
  /* border: 1px solid black; */
  padding: 0.5rem;
  /* background-color: white; */
  margin: 0.5rem;
  flex: 0 0 33;
  width: 25%;
  /* width: 50%; */
}

.spell_text{
  font-family: cursive, "Lucida Calligraphy";
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}
.spell_text_header{
  font-family: cursive, "Lucida Calligraphy";
  color: black;
  font-size: 25px;
  font-weight: 900;
}

.spell_text:hover {
  color: red;
}

.all-spells-add-spell-button{
  margin-left: .5rem;
  color: red;
  background-color: black;
}

/* SingleSpell*/
.single-spell-container {
  border: 1px solid black;
  background-color: white;
  padding: 0.5rem;
  background-image: url("/images/lightColoredParchementPaperBackground.png");
}

.spell-property-header {
  font-weight: bold;
  color: white;
}



/* NavBar*/

.nav_container {
  border: 1px solid black;
  padding: 0.5rem;
  background-color: #454545;
  display: flex;
  justify-content: space-between;
}

.nav_container_left {
  margin-left: 1rem;
}
.nav_container_right {
  display: flex;
  align-self: flex-end;
  margin-right: 1rem;
}

.nav_item {
  margin-right: 1rem;
  color: white;
  text-decoration: none;
}

.header {
  margin-left: 1rem;
}

/* SearchBar*/
.searchbar_container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.searchbar_inner_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 85px;
  margin-left: 10%;
  margin-right: 10%;
  background-color:black;
}

.searchbar-form-container{
  margin-top: .5rem;
}

.searchbar_form_input {
  width: 550px;
}

.searchbar-selector-container{
  margin-top: .5rem;
  display: flex;
  flex-direction: row;
  align-items:center;
  align-self:flex-start;
  margin-left: 10%;
}

.searchbar-select-input{
  width: 100px;
  margin-left: .5rem;
}

.error_message {
  color: red;
  margin-left: 1rem;
}
.title_label {
  margin-right: 0.5rem;
}
.search-button {
  margin-left: 0.5rem;
  cursor: pointer;
}


